body
{
    text-align: center;
    font-family: "Arial";
    color: red;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #33A ;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    font-family: "Arial";
    margin: 0;
    padding: 0.5em;
}

#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    font-family: "Arial";
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    color: white;
    font-weight: normal;
    font-size: 0.8em;
}